$large: 25em;
$small: 14em;
$margin-hor: 3em;

.collage-rev {

  height: 700px;
  position: relative;

  &__figure {
    width: $small;
    display: block;
    text-align: center;
    position: absolute;

    &--1 {
      top: 6%;
      left: $margin-hor;
    }

    &--2 {
      width: $large;
      bottom: 10%; 
      left: $margin-hor;
    }

    &--3 {
      width: $large - 3em;
      top: 28%; 
      left: 33%;
    }

    &--4 {
      top: -2%; 
      left: 50%;
    }

    &--5 {
      bottom: 5%; 
      left: 50%;
    }

    &--6 {
      width: $large;
      left: 72%; 
      top: -13%;
    }

    &--7 {
      width: $large;
      left: 72%; 
      bottom: 15%;
    }
  }

  &__image {
    width: 100%;
  }

}

@media screen and (max-width: 870px) {

.collage-rev {

  &__figure {

    &--1 {
      top: 6%;
      left: $margin-hor;
    }

    &--2 {
      width: $large - 4em;
      bottom: 10%; 
      left: $margin-hor;
    }

    &--3 {
      width: $large - 4em;
      top: 28%; 
      left: 38%;
    }

    &--4 {
      top: -2%; 
      left: 42%;
    }

    &--5 {
      bottom: 5%; 
      left: 50%;
    }

    &--6 {
      width: $large - 4em;
      left: 72%; 
      top: -13%;
    }

    &--7 {
      width: $large - 4em;
      left: 72%; 
      bottom: 15%;
    }
  }

}
}


@media screen and (max-width: $medium) {

  .collage-rev {
    height: auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    padding: 0 1em;

    &__more {
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s ease-out;
    }

    &__figure {
      width: $small;
      display: block;
      text-align: center;
      position: static;

      &--1 {
        width: $mobImgLarge;
      }

      &--2 {
        width: $mobImgSmall;
        align-self: flex-end;
      }

      &--3 {
        width: $mobImgLarge;
      }

      &--4 {
        width: $mobImgSmall;
        align-self: flex-end;
      }

      &--5 {
        width: $mobImgLarge;
      }

      &--6 {
        width: $mobImgSmall;
        align-self: flex-end;
      }

      &--7 {
        width: $mobImgLarge;
      }
    }

  }

}












