$large: 24%;
$small: 16%;
$margin-hor: 3%;

.collage {

  height: 700px;
  position: relative;

  &__figure {
    width: $small;
    display: block;
    text-align: center;
    position: absolute;

    &--1 {
      width: $large;
      top: -15%; 
      left: $margin-hor;
    }

    &--2 {
      width: $large;
      bottom: 15%; 
      left: $margin-hor;
    }

    &--3 {
      top: -8%; 
      left: 35%;
    }

    &--4 {
      width: $large;
      top: 20%; 
      left: 43%;
    }

    &--5 {
      bottom: 5%; 
      left: 35%;
    }

    &--6 {
      left: 80%; 
      top: 6%;
    }

    &--7 {
      width: $large;
      left: 72%; 
      bottom: 10%;
    }
  }

  &__image {
    width: 100%;
  }


  &__caption {
    text-align: center;
    padding: .8em;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }

}

@media screen and (max-width: $medium) {

  .collage {
    height: auto; 
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 10%;

    &__figure {
      width: $small;
      display: block;
      text-align: center;
      position: static;

      &--1 {
        display: none;
      }

      &--2 {
        display: none;
      }

      &--3 {
        display: none;
      }

      &--4 {
        display: none;
      }

      &--5 {
        width: 45%;
        align-self: flex-end;
        margin-right: 2%;
      }

      &--6 {
        display: none;
      }

      &--7 {
        width: 65%;
        margin-left: 2%;
      }
    }

    &__image {
      width: 100%;
    }


    &__caption {
      text-align: left;
      padding: .9rem 0;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
    }

  }

  .section-3 {
    .collage {
      flex-direction: column;

      &__figure {
        width: $small;
        display: block;
        text-align: center;
        position: static;

        &--1 {
          width: 65%;
          margin-left: 2%;
        }

        &--2 {
          display: none;
        }

        &--3 {
          display: none;
        }

        &--4 {
          display: none;
        }

        &--5 {
          display: none;
        }

        &--6 {
          width: 45%;
          align-self: flex-end;
          margin-right: 2%;
        }

        &--7 {
          display: none;
        }
      }
    }
  }

}
























