$large: 25em;
$small: 14em;
$margin-hor: 3em;

.section-5 {

  .collage {

    height: 500px;
    position: relative;

    &__figure {
      width: $small;
      display: block;
      text-align: center;
      position: absolute;

      &--1 {
        width: $large;
        top: -10%; 
        left: $margin-hor;
      }

      &--2 {
        bottom: 5%; 
        left: 20%;
      }

      &--3 {
        top: 0%; 
        left: 40%;
      }

      &--4 {
        width: $large;
        top: 20%; 
        left: 66%;
      }

      &--5 {
        bottom: 5%; 
        left: 35%;
      }

      &--6 {
        left: 80%; 
        top: 6%;
      }

      &--7 {
        width: $large;
        left: 72%; 
        bottom: 10%;
      }
    }

    &__image {
      width: 100%;
    }

  }

}

@media screen and (max-width: 870px) {

.section-5 {

  .collage {

    &__figure {

      &--1 {
        width: $large - 3em;
        top: -10%; 
        left: $margin-hor;
      }

      &--2 {
        bottom: 5%; 
        left: 20%;
      }

      &--3 {
        top: 0%; 
        left: 40%;
      }

      &--4 {
        width: $large;
        top: 20%; 
        left: 66%;
      }

      &--5 {
        bottom: 5%; 
        left: 35%;
      }

      &--6 {
        left: 80%; 
        top: 6%;
      }

      &--7 {
        width: $large;
        left: 72%; 
        bottom: 10%;
      }
    }

  }

}
}

$mobImgLarge: 60%;
$mobImgSmall: 32%;

@media screen and (max-width: $medium) {

  .section-5 {

    .collage {
      height: auto; 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10%;
      padding: 0 1em;

    &__more {
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s ease-out;
    }

      &__figure {
        width: $small;
        display: block;
        text-align: center;
        position: static;

      &--1 {
        width: $mobImgLarge;
      }

      &--2 {
        width: $mobImgSmall;
        align-self: flex-end;
      }

      &--3 {
        width: $mobImgLarge;
      }

      &--4 {
        width: $mobImgSmall;
        align-self: flex-end;
      }


        &--5 {
        }

        &--6 {
        }

        &--7 {
        }
      }

    }

  }


}
























