$offsetX: -40%;
$offsetY: 9%;

.landing-section {
  display: flex;
  margin-bottom: 1rem;

  &__text {
    flex: 1 0 auto;
    width: 35%;
    display: flex;
    position: relative;
  }

  &__picture {
    flex: 1 0 auto;
  }
}

.section-type-1 {
  flex-direction: row-reverse;

  &__picture {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  &__bg-wrapper {
    flex: 1;
    align-self: flex-end;
  }

  &__bg-image {
    width: 100%;
  }

  &__image-wrapper {
    flex: 2;
    margin-bottom: $offsetY;
    margin-right: $offsetX;
  }

  &__image {
    width: 100%;
  }
}


.section-type-2 {
  flex-direction: row;

  &__picture {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  &__bg-wrapper {
    flex: 1;
    align-self: flex-end;
  }

  &__bg-image {
    width: 100%;
  }

  &__image-wrapper {
    flex: 2;
    margin-bottom: $offsetY;
    margin-left: $offsetX;
  }

  &__image {
    width: 100%;
  }
}



@media screen and (max-width: 992px) {
  .landing-section {
    flex-direction: column-reverse;
  }

  .section-type-2 {
    &__picture {
      flex-direction: row-reverse; 
    } 

    &__image-wrapper {
      margin-bottom: $offsetY;
      margin-left: auto;
      margin-right: $offsetX;
    }

  }

}

