.landing-section--rev {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;


  .section-text {
    flex: 1;
    text-align: left;
    margin-top: 8%;
  
    &__title {
      display: flex;
      margin-left: -6rem;
    }

  
    &__number {
      font-family: 'Oswald', sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 5rem;
      margin-top: -2rem;
      margin-right: 1rem;
    }
  
    &__name {
      font-size: 2.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      line-height: 3rem;
    }
  }
  
  .section-picture {
    flex: 1.6;
  
    display: flex;
    flex-direction: row;
    
  
    &__bg-wrapper {
      flex: 1;
      align-self: flex-end;
    }
  
    &__bg-image {
      width: 100%;
    }
  
    &__image-wrapper {
      flex: 2;
      margin-bottom: 9%;
      margin-left: -35%;
    }
  
    &__image {
      width: 100%;
    }
  }

}


@media screen and (max-width: 992px) {
  .landing-section--rev {
    flex-direction: column-reverse;
  
    .section-text {
      text-align: left;
    
      &__title {
        margin-right: auto;
        margin-left: 10%;
        font-size: 3rem;
      }
    
      &__number {
        font-size: 7rem;
      }
    
      &__info {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .landing-section {

    .section-text {
      &__title {
        font-size: 2.2rem;
        margin-bottom: -2rem;
      }
    
      &__number {
        font-size: 4.5rem;
      }
    }

    .section-picture {
      &__image-wrapper {
        margin-bottom: 6%;
        margin-right: -40%;
      }
    }
  }
}
