.landing-main-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: .1em;
  word-spacing: .2em;
  line-height: 1.5em;
  color: black;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .landing-main-title {
    font-size: 2.5em;
  }
}

.landing-sub-title {
  font-family: serif;
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
  color: black;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .landing-sub-title {
    font-size: 1.5em;
    line-height: 2em;
  }
}



.section-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  &__primary {
    display: flex;
    flex-direction: row;
    letter-spacing: .3rem;
    margin-top: 6em;
  }

  &__secondary {
    padding: 2em 1em;
    //width: 60%;    
    font-size: 1.4em;
    line-height: 1.5em;
  }

  &__number {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 7em;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    font-style: italic;
  }
}


.section-1 {
  .section-title {
    align-items: flex-end;

    &__primary {
      align-items: flex-end;
      margin-right: -10em;
    }

    &__secondary {
      text-align: right;
    }
  }
}

.section-2 {
  .section-title {

    &__primary {
      align-items: flex-end;
      margin-left: -9em;
    }

    &__number {
      margin-bottom: 1em;
    }

    &__text {
    }

    &__secondary {
      text-align: left;
    }

  }
}

.section-3 {
  .section-title {
    align-items: flex-end;

    &__primary {
      align-items: flex-end;
      margin-right: -22em;
    }

    &__secondary {
      text-align: right;
    }
  }
}

.section-4 {
  .section-title {

    &__primary {
      align-items: flex-end;
      margin-left: -9em;
    }

    &__number {
      margin-bottom: auto;
    }

    &__secondary {
      text-align: left;
    }

  }
}

.section-5 {
  .section-title {
    align-self: flex-start;

    &__primary {
      align-items: flex-start;
      margin-left: 11em;
    }

    &__secondary {
      text-align: right;
      width: 50%;
      align-self: flex-start;
      margin-left: 6em;
    }

  }
}

@media screen and (max-width: $medium) {

  .section-title {
    flex-direction: row;
    margin-left: 4em;

    &__primary {
      margin-bottom: -3em;
    }

    &__secondary {
      display: none;
    }
  }


  .section-2 {
    .section-title {
      width: 50%; 

      &__primary {
        align-items: flex-end;
        margin-left: auto;
        margin-bottom: -1.5em;
      }

      &__number {
        margin-bottom: .2em;
      }

      &__secondary {
        text-align: left;
        padding-left: 2rem;
      }

    }
  }



  .section-4 {
    .section-title {
      width: auto; 

      &__primary {
        align-items: flex-end;
        margin-left: auto;
      }

      &__number {
        margin-bottom: auto;
      }

      &__secondary {
        text-align: left;
        padding-left: 2rem;
      }

    }
  }


  .section-5 {
    .section-title {


      &__primary {
        width: 100%;
        margin-left: auto;
        margin-bottom: -1.2em;
      }

      &__secondary {
      }

      &__number {
        align-self: flex-end;
        margin-bottom: 0;
        padding-right: 0;
      }

      &__text {
        letter-spacing: .1em;
      }
    }
  }



}

@media screen and (max-width: 520px) {
  .section-title {
    margin-left: 2em;

    &__number {
      font-size: 6em;
    }

    &__text {
      font-size: 2.3em;
    }
  }


  .section-1 {
    .section-title {
  
      &__primary {
        margin-bottom: -2em;
      }
  
      &__secondary {
      }

      &__number {
        padding-right: 0;
      }
    }
  }


  .section-2 {
    .section-title {
      width: 50%; 

      &__primary {
        align-items: flex-end;
        margin-left: auto;
        margin-bottom: -1em;
      }

      &__number {
        margin-bottom: .1em;
        padding-right: 0.1em;
      }

      &__secondary {
        text-align: left;
        padding-left: 2rem;
      }

    }
  }


  .section-3 {
    .section-title {
  
      &__primary {
        margin-bottom: .1em;
      }
  
      &__secondary {
      }

      &__number {
        padding-right: 0;
      }

      &__text {
        letter-spacing: .1em;
      }
    }
  }

  .section-4 {
    .section-title {
      width: auto; 

      &__primary {
        align-items: flex-end;
        margin-left: auto;
        margin-bottom: -2.5em;
      }

      &__number {
        margin-bottom: auto;
        padding-right: 0;
      }

      &__secondary {
        text-align: left;
        padding-left: 2rem;
      }

    }
  }


  .section-5 {
    .section-title {

      &__primary {
        width: 100%;
        margin-left: auto;
        margin-bottom: -.9em;
      }

      &__secondary {
      }

      &__number {
        align-self: flex-end;
        margin-bottom: 0;
        padding-right: 0;
      }

      &__text {
        letter-spacing: .1em;
      }
    }
  }


}






.collage,
.collage-rev {
  &__caption {
    text-align: center;
    padding: .8em;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media screen and (max-width: $medium) {
  .collage,
  .collage-rev {
    &__caption {
      text-align: left;
      padding: .8em 0;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}


